@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mobile:</span>
        <span>+94773994359</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:chaturaroche@gmail.com">chaturaroche@gmail.com</a></span>
    </p>
   
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
       247,Colombo Road<br />
       Weligampitiya,<br />
       ja-ela,<br />
       Sri Lanka.
    </p>
</section>